html,
body{
    height: 100%;
}

img{
    max-width: 100%;
}

#text-unmuted{
    font-family: 'Nova Flat', cursive;
    color: #fff;
}

#text-finger{
    font-family: 'Bubblegum Sans', cursive;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: #4d41f4;
}

#cat-love{
    font-family: 'Yatra One', cursive;
    color: #cea18b;
}

/* navbar brand */
.navbar-brand{
    font-family: 'Nosifer', cursive;
}

/* buttons */
.btn-sm{
    width: 100px;
    height: 50px;
    padding: 10px 12px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    margin: 12px auto;
}

/* Jumbotron */
.jumbotron{
    /* Photo by Kevin Bhagat on Unsplash */
    background: url('../img/kevin-bhagat-343433.jpg') 
                no-repeat center center fixed;
    background-size: cover;
    position: relative;
    height: 50%;
    overflow: hidden;
}


/*Responsive Styling*/

