html,
body{
    height: 100%;
}

img{
    max-width: 100%;
}

/* buttons */
.btn-sm{
    width: 100px;
    height: 50px;
    padding: 10px 12px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    margin: 12px auto;
}