html,
body{
    height: 100%;
}

#text-unmuted{
    font-family: 'Nova Flat', cursive;
    color: #fff;
}

img{
    max-width: 100%;
}

/* navbar brand */
.navbar-brand{
    font-family: 'Nosifer', cursive;
}

/* buttons */
.btn-sm{
    width: 100px;
    height: 50px;
    padding: 10px 12px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    margin: 12px auto;
}

/* Jumbotron */
.jumbotron{
    /* Photo by Kevin Bhagat on Unsplash */
    background: url('img/kevin-bhagat-343433.jpg') 
                no-repeat center center fixed;
    background-size: cover;
    position: relative;
    height: 50%;
    overflow: hidden;
}

/*Responsive Styling*/

